		.ui-table-cell-label{
			padding-left:0 !important;
		}
		.ui-collapsible-heading .ui-btn {
			line-height: 40px !important;
			padding-left: 5px;
		}
		#openInAppbtn {
			
			line-height:40px !important;
			text-align: left;
			padding-left: 5px;
		}
		#callbtn {
			
			line-height:40px !important;
			text-align: left;
			padding-left: 5px;			
		}
		#uberopenInAppbtn{
			
			line-height:40px !important;
			text-align: left;
			padding-left: 5px;
		}
		
		